/* Begin aangeleverde code, laten staan, niet veranderen */
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
} 
header, main, footer{
    width: 100%;
}

header, footer{
    height: 20%;
    background-color: salmon;
}

header li, footer li{
    list-style-type:none;

}
main{
    height: 80%;
    background-color: bisque;
}

.logo-header{
    margin: 20px;
}
nav li{
    margin-left:10px;
}
header img {
    width:100px;
}
main img{
    width:400px;
}

.logo-footer{
    border: 1px solid black;
}

header nav ul{
    display:flex;
}

header{
    padding-left: 20px;
}

nav a{
    text-decoration: none;
}

div h1{
    font-size: 50px;
}

ul{
    border: 1px dashed black;
}

h3 ~p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img ~ ul {
    color:red;
    list-style-type: circle;
}

/* Einde aangeleverde code, laten staan, niet veranderen */
/* Vul hieronder je eigen code */
